# Python
__pycache__/
*.py[cod]
*.pyo

# VSCode
.vscode/

# macOS / Windows
.DS_Store
Thumbs.db

# Logs
*.log

# Python virtual environments
venv/
backend/venv/

# Django
db.sqlite3
.env

# Node.js
node_modules/
frontend/node_modules/

# References
references/
